<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{title}}</h1>
      <br />
      <div class="note-box">
        <div class="msg" *ngIf="message">
          <p>{{message}}</p>
        </div>
        <label for="note">Note:</label>
        <input [(ngModel)]="note" required minlength="4" class="form-control" type="text" name="note" id="note">

        <button [disabled]="!note || note.length <= 3" (click)="createNote()" class="btn btn-success float-right">Add Note</button>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="notes">
        <div class="each-note" *ngFor="let x of noteData.data">
          <p class="text-right">{{x.createdAt | date:'medium'}}</p>
          <p>{{x.note}}</p>

          <!--<button (click)="delete(x._id)" class="btn btn-danger">Delete</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
