.column {
  padding: 10px;
  border: 1px solid #333333;
  p {
    font-size: 1.3rem;
  }
}

.img-responsive {
  width: 100%;
}

.edit-btn,
.delete-btn{
  border: none;
  font-size: 1rem;
  color: #ffffff;
  min-height: 30px;
  cursor: pointer;
  padding: 0 20px;
}
.edit-btn {
  background: #9c9c9c;
  float: left;
}
.delete-btn {
  background: #e74c3c;
  float: right;
}
.clear {
  clear: both;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .column {
    margin-bottom: 20px
  }
}
